.cart-container {
    background-color: #ddd; 
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

h1.carrito {
    margin-bottom: 20px;
    color: #131313;
    font-size: 60px;
    text-align: center;
}

#tabla-pedidos {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#tabla-pedidos th, #tabla-pedidos td {
    border: 1px solid #cacaca;
    padding: 8px;
    text-align: center;
}

#tabla-pedidos th {
    background-color: #f2f2f2;
}

#tabla-pedidos tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #BE191D; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

button:hover {
    background-color: #d32f2f; 
}